@import './element-them.scss';
@import './them.scss';
@import './transition.scss';


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  --theme-color: rgba(61, 172, 147, 1);
  --theme-color-shadow: rgba(61, 172, 147, .6);
  --theme-background: rgba(30, 28, 46, 1);
  --theme-background-light: rgba(40, 39, 53, 1);
  --theme-background-dark: rgb(25, 25, 39);
  --theme-background-darker: rgb(22, 21, 32);
  --theme-header-color: #1E1C2E;
  --theme-button-hover: rgb(64, 60, 80);
  --text-white: rgba(255, 255, 255, 1);
  --text-white-a9: rgba(255, 255, 255, .9);
  --text-white-a8: rgba(255, 255, 255, .8);
  --text-white-a7: rgba(255, 255, 255, .7);
  --text-white-a6: rgba(255, 255, 255, .6);
  --text-white-a4: rgba(255, 255, 255, .4);

  background: rgba(29, 28, 42, 1) !important;
  font-size: $--color-size;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #1E1C2E;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul,li{
  list-style-type: none;
}

// 清除浮动
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.main-title{
  display: flex;
  justify-content: center;
  span{
    display: inline-block;
    min-width: 350px;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #fff;
    text-align: center;
    padding: 14px 28px;
    line-height: 33px;
    font-size: 24px;
  }
}
.main-content{
  width: 765px;
  margin: 0 auto;
  max-width: 100%;
  padding: 65px 0;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
